body{
    background-color: #ADEFD1FF;
  height: 100vh;
   
}
.outerpart{
    width: 400px;
    height: 645px;
    box-shadow: 10px 10px 10px black;
    transform: translate(125%);
    margin-top: 50px;
    box-shadow: 5px 10px 20px black;
    padding:5px;
    border-radius: 18px;
    background-color:rgba(29, 53, 190, 0.698);
}
#display{
    text-align: right;
    transform: translateX(20px);
    height: 60px;
    width: 350px;
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 50px;
    text-decoration: none;
    outline: none;
    border-radius: 8px;
}
#numbutton{
    width: 55px;
    height: 56px;
    margin-bottom:60px;
    margin-left:  12px;
    font-size: 35px;
   border-radius: 15px;
   background-color:#000000FF;
   color: floralwhite;
   border: none; 
}
#point{
    width: 55px;
    margin-left: 6%;
    margin-top: -6%;
    margin-right: 6%;
    
   font-size: 35px;
   border-radius: 15px;
   background-color:#000000FF;
   color: floralwhite;
   border: none;
   
}

#numbutton:hover,#point:hover{
    cursor: pointer;
   
}
